<style>
    .operative-course-table td, .operative-course-table th {
        text-align: center !important;
        width: 1% !important;
    }
</style>

<div id="customControl">
    <h2 class="section-title">{{title | titleTranslate}} </h2>
    <section class="block hierarchy">
        <div ng-if="!isEmpty" class="operative-course">
            <table class="operative-course-table">
                <thead>
                <tr>
                    <th ng-repeat="header in ::headings track by $index">
                        <span>{{header}}</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entry in ::surgicalAppointments track by $index">
                    <td autoclose="true" ng-repeat="header in ::headings track by $index"
                        ng-class="::{'is-abnormal': (columnResult.abnormal == true)}">
                        <span ng-class="::{'is-abnormal': (columnResult.abnormal == true)}">{{ entry[header]}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="isEmpty">
            <div class="placeholder-text" ><p translate="DISPLAY_CONTROL_ERROR_MESSAGE_KEY"
                                              translate-values="::{displayControl : '{{'Surgical Appointments' | translate}}'}"></p>
            </div>
        </div>
    </section>
</div>
