<style>
    h4,
    p {
        text-align: center;
    }

    table {
        border: none;
    }

    table th,
    table td {
        border: 1px solid #444;
        border-left: none;
        text-align: center;
    }

    table th:first-child {
        border-left: 1px solid #444;
    }

    table td:first-child {
        border-left: 1px solid #444;
    }

    .largeWidth {
        min-width: 100px;
    }
</style>
<h4> OT Schedule</h4>
<p ng-if="weekOrDay === 'day'">
    {{viewDate | date : 'dd MMM yyyy, EEE'}}
</p>

<p ng-if="weekOrDay === 'week'">
    {{weekStartDate | date : 'dd MMM yyyy, EEE'}} to {{weekEndDate | date : 'dd MMM yyyy, EEE'}}
</p>
<table cellpadding="2" cellspacing="0">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th width="80px">
                Day
            </th>
            <th width="80px">
                Date
            </th>
            <th width="80px">
                Identifier
            </th>
            <th class="largeWidth">
                Patient Name
            </th>
            <th>
                Patient Age
            </th>
            <th>
                Start time
            </th>
            <th>
                Est Time
            </th>
            <th class="largeWidth">
                Actual Time
            </th>
            <th class="largeWidth">
                Procedure(s)
            </th>
            <th>
                Blood order
            </th>
            <th>
                Expected Admission date
            </th>

        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="appointment in surgicalAppointmentList"
            ng-class="{'current-date': isCurrentDate(appointment.derivedAttributes.expectedStartDate)}">
            <td>
                {{appointment.status}}
            </td>
            <td width="80px">
                {{appointment.derivedAttributes.expectedStartDate | date : 'EEEE'}}
            </td>
            <td width="80px">
                {{appointment.derivedAttributes.expectedStartDate | bahmniDate}}
            </td>
            <td width="80px">
                {{appointment.derivedAttributes.patientIdentifier}}
            </td>
            <td class="largeWidth">
                {{appointment.derivedAttributes.patientName}}
            </td>
            <td>
                {{appointment.derivedAttributes.patientAge}}
            </td>
            <td>
                {{appointment.derivedAttributes.expectedStartTime | bahmniTime}}
            </td>
            <td>
                {{appointment.surgicalAppointmentAttributes.estTimeHours.value}} {{'OT_SURGICAL_APPOINTMENT_HOURS' |
                translate}} : {{appointment.surgicalAppointmentAttributes.estTimeMinutes.value}}
                {{'OT_SURGICAL_APPOINTMENT_MINUTES' | translate}}
                + {{appointment.surgicalAppointmentAttributes.cleaningTime.value}} {{'OT_SURGICAL_APPOINTMENT_MINUTES' |
                translate}}
            </td>
            <td>
                {{appointment.actualStartDatetime | bahmniTime}} - {{appointment.actualEndDatetime | bahmniTime}}
            </td>
            <td class="largeWidth">
                {{appointment.surgicalAppointmentAttributes.procedure.value}}
            </td>
            <td class="largeWidth">
                {{appointment.surgicalAppointmentAttributes['Blood order (units)'].value}}
            </td>
            <td class="largeWidth">
                {{appointment.surgicalAppointmentAttributes['Expected date of Admission'].value}}
            </td>
        </tr>
    </tbody>
</table>